<div class="p-4">
  <div>
    <h1 class="text-4xl font-bold">Your Shopping Cart</h1>
  </div>
  <div *ngIf="isCartLoading$ | async; else showProducts">
    <p>....Loading</p>
  </div>
  <ng-template #showProducts>
    <div class="flex w-full">
      <div class="flex flex-col">
        <div class="" *ngFor="let product of cartItems$ | async">
          <div>
            <div
              class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
            >
              <div>
                <div class="group relative">
                  <div
                    class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
                  >
                    <img
                      src="{{ product.image }}"
                      alt="Front of men&#039;s Basic Tee in black."
                      class="h-full w-full object-fit object-center lg:h-full lg:w-full"
                    />
                  </div>
                  <div class="mt-4 flex justify-between">
                    <div>
                      <h3 class="text-sm text-gray-700">
                        <a>
                          <span
                            aria-hidden="true"
                            class="absolute inset-0"
                          ></span>
                          {{ product.title }}
                        </a>
                      </h3>
                      <p class="mt-1 text-sm text-gray-500">
                        {{ product.category }}
                      </p>
                    </div>
                  </div>
                  <p class="text-xl font-medium text-gray-900">
                    {{ product.price | currency }}
                  </p>
                </div>
              </div>
              <button
                (click)="removeItemFromCart(product)"
                class="bg-red-500 p-2 text-white hover:cursor-pointer"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="w-3/4 max-h-[200px]">
        <div class="">
          <p class="text-2xl">
            Your Total : {{ cartTotal$ | async | currency }}
          </p>
        </div>
        <button
          class="bg-green-500 p-2 rounded-md text-white hover:cursor-pointer"
          (click)="placeOrder()"
        >
          Place order
        </button>
      </div>
    </div>
  </ng-template>
</div>
